<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 📗Blog 📖</title>
    <link rel="stylesheet" href="styles/modify.css">
</head>

<body>
    <div class="Main-Container">
        <div class="Container">

        </div>
    </div>
</body>

</html>