<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 📗Blog 📖</title>
    <link rel="stylesheet" href="styles/modify.css">
</head>

<body>
    <div class="Main-Container">
        <div class="Container">
            <h1 class="NewPost">New Post</h1>
            <form action="/Submit"  method="post">
                <label for="Tittle"> </label>
                <input type="text" id="Tittle" name="Tittle" placeholder="Tittle">
                <label for="Context"> </label>
                <textarea id="Context" name="Context" placeholder="Context"></textarea>
                <label for="Author"> </label>
                <input type="text" id="Author" name="Author" placeholder="Author">
                <button type="submit" > Submit</button>
            </form>
        </div>
    </div>
</body>

</html>