html {
    background: #D3D3D3;
}

.Main-Container {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: fit-content;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    box-shadow: 0px 2px 15px black;
    padding: 15px;
    background-color: #f4f0e8;
}

#NewPostBtn {
    width: fit-content;
    height: 20px;
    padding: 8px;
    background-color: #74C365;
    text-decoration: none;
    font-size: 1.4rem;
    color: black;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

#text {
    text-align: justify;
}

#edit {
    background-color: #0f52ba;
    border: none;
    padding: 8px;
    margin-right: 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 8px;
}

#delete {
    background-color: red;
    border: none;
    padding: 8px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 8px;
}
footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #23262a;
    color: #D3D3D3;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: inset 5px 5px 10px grey, inset -5px -5px 10px grey;
}
.ContactIcons>#Instagram{
   margin-right: 40px;
}
.ContactIcons>#Linkedin{
    margin-right: 40px;
}
.ContactIcons>#Github{
    text-decoration: none;
}
/* Tooltip container */
.instagram, .Linkedin, .Github {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.instagram .instagramtext, .Linkedin .LinkedinText, .Github .GithubText {
  visibility: hidden;
  width: 120px;
  background: linear-gradient(to left bottom, #F58529 , #FEDA77, #DD2A7B, #8134AF, #515BD4);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top:-30px;
  right:-40px;
}
 .Linkedin .LinkedinText {
  visibility: hidden;
  width: 120px;
  background: linear-gradient(to left bottom, #0f52ba);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top:-30px;
  right:-40px;
}
 .Github .GithubText {
  visibility: hidden;
  width: 120px;
  background: linear-gradient(to left bottom,gray, #232325);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top:-30px;
  right:-40px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.instagram:hover .instagramtext, .Linkedin:hover .LinkedinText, .Github:hover .GithubText{
  visibility: visible;
}